.cls-1 {
    filter: url(#filter);
  }

  .cls-2 {
    fill: none;
    stroke: #000;
    stroke-width: 1.96px;
  }
  .cls-2:hover{
    fill: red;
  }
  .cls-2, .cls-3, .cls-4, .cls-5 {
    fill-rule: evenodd;
  }

  .cls-3 {
    fill: #010101;
  }

  .cls-4, .cls-6 {
    fill: #de9f27;
    stroke: #cbbf37;
    stroke-width: 0.88px;
  } 