#mapa-interactivo svg{
  width: 2400;
  height: 1900;
}

.cls-1 {
    filter: url(#filter);
  }

  .cls-2 {
    fill: none;
    stroke: #000;
    stroke-width: 1.96px;
  }
  .cls-2:hover{
    cursor: pointer;
    
  }
  .cls-2, .cls-3, .cls-4, .cls-5 {
    fill-rule: evenodd;
  }

  .cls-3 {
    fill: #de9f27;
  }

  .cls-4, .cls-6 {
    fill: #de9f27;
    stroke: #cbbf37;
    stroke-width: 0.88px;
  } 

  @media(max-width: 768px){
    #mapa-interactivo svg{
      width: 750px;
      height: 1000px;
    }
  }
  @media (max-width:480px) {
    #mapa-interactivo svg{
      width: 550px;
      height: 600px;
    }
  }